/* .product-container{
  display: flex;
  justify-content: space-between;
} */
body{
  margin: 0;
  font-family: Arial, sans-serif;
}


.header{
  background-color: rgba(0, 0, 0, 0.842);
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.main{
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  padding: 10px;
}
.product-image-container{
  display: flex;
  align-items: center;
}